<!doctype html>
<html>
  <head>
    <title>Voto</title>
    <link rel="stylesheet" type="text/css" href="public/style.css">
    <script src="public/script.js"></script>
  </head>
<body>
  <nav>Il tuo punteggio</nav>
  <header>Stato esercizi (<%= progress.signed?2+Object.keys(progress.es).length:0 %>/<%= numEs+2 %>)</header>
  <section>
    <div>
      <%= progress.signed?"Utente: "+progress.signed:"Accreditamento non eseguito" %>
    </div>
    <% if(Object.keys(progress.es).length == 0 && progress.signed){ %>
      <div>
        Non sono acora stati eseguiti esercizi.
      </div>
    <% } else { for(let x in progress.es){ %>
      <div>
        Esercizio <%= parseInt(x)+1 %> corretto.
      </div>
    <% }} %>
  </section>
</body>
</html>