<!doctype html>
<html>
  <head>
    <title>Voto</title>
    <link rel="stylesheet" type="text/css" href="public/style.css">
  </head>
<body>
  <header>IL TUO PUNTEGGIO: <%= progress.signed?2+Object.keys(progress.es).length:0 %> / <%= numEs+2 %></header>
  <main>
    <div>
      <%= progress.signed?"Utente: "+progress.signed:"Accreditamento non eseguito" %>
    </div>
    <% if(Object.keys(progress.es).length == 0 && progress.signed){ %>
      <div>
        Non sono acora stati eseguiti esercizi.
      </div>
    <% } else { for(let x in progress.es){ %>
      <div>
        Esercizio <%= parseInt(x)+1 %> corretto.
      </div>
    <% }} %>
  </main>
</body>
</html>